.filmCard {
  flex: 0 0 auto;
  height: 80%;
  width: 55vh;
  margin-right: 20px;
  background-color: #f2f2f2;
  padding: 8px;
  position: relative;
  overflow-wrap: break-word;
}

.episodeId {
  position: absolute;
  top: 50px;
  right: 40px;
}
.button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  background-color: black;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: white;
  color: black;
  border-color: white;
}
